.header{
    color:white;
    font-size: 60px;
    
}
.container{
    margin-bottom:20px;
    text-align: center;
}

.container1{
        width:306px;
        height:306px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin:0px auto;
        margin-top:3%;
        
    }

    .squares{
        width: 100px;
        height: 100px;
        border:1px solid black;
        font-size: 50px;
        text-align: center;
        padding-top: 10%;
        border:2px solid grey;;
        margin-top:-2%;
        background-color: white;
        
    }

    .seven,.eight,.nine,.four,.five,.six{
        margin-top: -10%;
    }
    .two, .five,.eight{
      margin-left:-3%;
    }
    .three,.six,.nine{
      margin-left:-6%;
    }
    
    .error{
        color: red;
    }
    .warn{
      
      text-align: center;
      width:30%;
      font-size: 16px;
      margin: 0px auto;
      display:none;
   }
   .replay{
       display:none;
   }

   .form-group{
       width:50%;
       margin:0px auto;
      
   }

   .form-control{
    margin-bottom:10px;
   }

   .col-form-label{
       text-align: right;
   }

   button:focus, input:focus{
    outline: none;
}   

.result{
    font-size: 28px;
    font-family: cursive;
    color: greenyellow;
}
   @media screen and (max-width: 480px) {
    .form-group{
        width:80%
    }
    .col-form-label{
        text-align: left;
    }
  }

   